<article class="noleft">
  <section id="Extension_Docmain">
    <h3 data-toggle-sel="#Extension_Docmain" class=""><%= @title %></h3>
    <div class="blockbody"><%= raw(@body_html) %></div>
  </section>
</article>
