<article class="noleft">
  <section id="Signups_Disabledmain">
    <h3 data-toggle-sel="#Signups_Disabledmain" class="">Signups Disabled</h3>
    <div class="blockbody">
      Account creation is currently disabled.
    </div>
  </section>
</article>
