<article class="noleft">
  <section id="Errormain">
    <h3 data-toggle-sel="#Errormain" class="">No Such User</h3>
    <div class="blockbody">
      If you typed the ID by hand, try again; if you came from a link on this site, it might be bug report time...
    </div>
  </section>
</article>
